.footer {
  margin-top: 60px;
  border-top: 1px solid #333;
  background: #111;
  padding: 20px 0;
}

.footbar {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.info {
  display: flex;
  gap: 20px;
}

.footer a {
  text-decoration: none;
  color: #fff;
  opacity: .8;
}

.footer a:hover {
  opacity: 1;
}

.copyright,
.project {
  font-size: 14px;
  opacity: .8;
}